.main{
    background-color: cadetblue;
    margin: 0px auto;
    max-width: 324px;
}
button{
    padding: 30px;
    font-size: 25px;

}

.in-put{
    padding: 25px 70px;
    margin: 10px 11px;
    background-color: rgb(154, 230, 230);
}
.mybut{
    text-align: center;
    font-size: 25px;
    max-width: 25px;
    padding: 37px;
}
.equal{
    text-align: center;
    font-size: 25px;
    max-width: 108px;
    padding: 37px 30px;
}
h2{
    text-align: center;
}
.done{
    margin: 5px 0px;
}